<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<style type="text/css">
		body {
			color: #333;
			background: white;
			width: 500px;
			margin: 100px auto
		}

		h1 {
			font: bold 47px/1.5 sans-serif;
			margin: .6em 0
		}

		p {
			font: 21px/1.5 Georgia, serif;
			margin: 1.5em 0
		}

		small {
			font-size: 70%;
			color: gray
		}
	</style>
</head>
<body>
	<h1>Hello world</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet aperiam delectus deleniti dolore dolorum eveniet excepturi expedita neque quasi recusandae repellendus repudiandae ullam velit, veritatis, vero voluptatem. Voluptas.</p>
	<p>
		<small>Some small text!</small>
	</p>
</body>
