name: Tests

on: [push, pull_request]

env:
  extensions: "json"
  cache-version: "1"
  composer-version: "v1"
  composer-install: "composer update --no-interaction --no-progress --no-suggest --prefer-dist --prefer-stable"

jobs:
    qa:
        name: "Quality assurance"
        runs-on: "${{ matrix.operating-system }}"

        strategy:
            matrix:
                php-version: [ "7.4" ]
                operating-system: [ "ubuntu-latest" ]
            fail-fast: false

        steps:
            - name: "Checkout"
              uses: "actions/checkout@v2"

            - name: "Setup PHP cache environment"
              id: "extcache"
              uses: "shivammathur/cache-extensions@v1"
              with:
                  php-version: "${{ matrix.php-version }}"
                  extensions: "${{ env.extensions }}"
                  key: "${{ env.cache-version }}"

            - name: "Cache PHP extensions"
              uses: "actions/cache@v2"
              with:
                  path: "${{ steps.extcache.outputs.dir }}"
                  key: "${{ steps.extcache.outputs.key }}"
                  restore-keys: "${{ steps.extcache.outputs.key }}"

            - name: "Install PHP"
              uses: "shivammathur/setup-php@v2"
              with:
                  php-version: "${{ matrix.php-version }}"
                  extensions: "${{ env.extensions }}"
                  tools: "composer:${{ env.composer-version }} "

            - name: "Setup problem matchers for PHP"
              run: 'echo "::add-matcher::${{ runner.tool_cache }}/php.json"'

            - name: "Get Composer cache directory"
              id: "composercache"
              run: 'echo "::set-output name=dir::$(composer config cache-files-dir)"'

            - name: "Cache PHP dependencies"
              uses: "actions/cache@v2"
              with:
                  path: "${{ steps.composercache.outputs.dir }}"
                  key: "${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}"
                  restore-keys: "${{ runner.os }}-composer-"

            - name: "Validate Composer"
              run: "composer validate"

            - name: "Install dependencies"
              run: "${{ env.composer-install }}"

            - name: "Coding Standard"
              run: "vendor/bin/codesniffer src tests"

    static-analysis:
      name: "Static analysis"
      runs-on: "${{ matrix.operating-system }}"

      strategy:
        matrix:
          php-version: [ "7.4" ]
          operating-system: [ "ubuntu-latest" ]
        fail-fast: false

      steps:
        - name: "Checkout"
          uses: "actions/checkout@v2"

        - name: "Setup PHP cache environment"
          id: "extcache"
          uses: "shivammathur/cache-extensions@v1"
          with:
            php-version: "${{ matrix.php-version }}"
            extensions: "${{ env.extensions }}"
            key: "${{ env.cache-version }}"

        - name: "Cache PHP extensions"
          uses: "actions/cache@v2"
          with:
            path: "${{ steps.extcache.outputs.dir }}"
            key: "${{ steps.extcache.outputs.key }}"
            restore-keys: "${{ steps.extcache.outputs.key }}"

        - name: "Install PHP"
          uses: "shivammathur/setup-php@v2"
          with:
            php-version: "${{ matrix.php-version }}"
            extensions: "${{ env.extensions }}"
            tools: "composer:${{ env.composer-version }} "

        - name: "Setup problem matchers for PHP"
          run: 'echo "::add-matcher::${{ runner.tool_cache }}/php.json"'

        - name: "Get Composer cache directory"
          id: "composercache"
          run: 'echo "::set-output name=dir::$(composer config cache-files-dir)"'

        - name: "Cache PHP dependencies"
          uses: "actions/cache@v2"
          with:
            path: "${{ steps.composercache.outputs.dir }}"
            key: "${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}"
            restore-keys: "${{ runner.os }}-composer-"

        - name: "Install dependencies"
          run: "${{ env.composer-install }}"

        - name: "PHPStan"
          run: "vendor/bin/phpstan analyse -l max -c phpstan.neon src"

    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['7.2', '7.3', '7.4', '8.0']

            fail-fast: false

        name: PHP ${{ matrix.php }} tests
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v1
              with:
                  php-version: "${{ matrix.php }}"
                  extensions: "${{ env.extensions }}"
                  coverage: none

            - run: mkdir -p tests/tmp
            - run: composer install --no-interaction --prefer-source
            - run: vendor/bin/tester tests -s -C
            - if: failure()
              uses: actions/upload-artifact@v1
              with:
                  name: output
                  path: tests/PdfResponse/output

    lowest_dependencies:
        name: Lowest Dependencies
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v1
              with:
                  php-version: 7.2
                  extensions: "${{ env.extensions }}"
                  coverage: none

            - run: mkdir -p tests/tmp
            - run: composer update --no-interaction --prefer-dist --prefer-lowest --prefer-stable
            - run: vendor/bin/tester tests -s -C


    code_coverage:
        name: Code Coverage
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v1
              with:
                  php-version: 7.4
                  extensions: "${{ env.extensions }}"
                  coverage: none

            - run: mkdir -p tests/tmp
            - run: composer install --no-progress --prefer-dist
            - run: wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar
            - run: vendor/bin/tester -p phpdbg tests -s -C -d memory_limit=512M --coverage ./coverage.xml --coverage-src ./src
            - run: php coveralls.phar --verbose --config tests/.coveralls.yml
